@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Kaushan+Script&family=Roboto&family=Rubik+Puddles&display=swap');

.coursel-dish-image{
    border-top-left-radius:200px;
    border-bottom-right-radius:200px;
    
}
.carousel-background-style{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9GTn0o1C7BnztAd6sAHwQ4uNS_IoLz-xG3A&usqp=CAU');
    background-size: cover;
    width:100%;
}
.home-para-style{
    color:bisque;

}

.main-heading-home{
    font-family: 'Kaushan Script', cursive;
    text-shadow: 1px 2px 2px black;
}
.m
{
    color: rgb(131, 214, 48);
}